<ion-view title="Clinic Extra Services" id="page12" style="background-color:#CAEBF2;" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="clinic2ExtraServices-list9" class=" ">
            <ion-item id="clinic2ExtraServices-list-item43" class="  ">Item</ion-item>
            <ion-item id="clinic2ExtraServices-list-item44" class="  ">Item</ion-item>
            <ion-item id="clinic2ExtraServices-list-item45" class="  ">Item</ion-item>
            <ion-item id="clinic2ExtraServices-list-item46" class="  ">Item</ion-item>
            <ion-item id="clinic2ExtraServices-list-item47" class="  ">Item</ion-item>
        </ion-list>
    </ion-content>
</ion-view>