<ion-view title="Clinic 4" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="clinic4-heading1" style="color:#7B10B9;" class=" ">44 W Deez Nuts Street</h1>
        <ion-list id="clinic4-list2" class=" ">
            <ion-item class="positive  " id="clinic4-list-item13" href="tel:646-286-7794">(212) 563 8806</ion-item>
            <ion-item class="energized  " id="clinic4-list-item12">★★★★✩</ion-item>
            <ion-item class="item-icon-left balanced  " id="clinic4-list-item6">
                <i class="icon ion-checkmark"></i>Appiontment Suggested</ion-item>
            <ion-item class="item-icon-left balanced  " id="clinic4-list-item8">
                <i class="icon ion-checkmark"></i>Free HIV Test</ion-item>
            <ion-item class="item-icon-left assertive  " id="clinic4-list-item10">
                <i class="icon ion-close"></i>Universal STD Check</ion-item>
        </ion-list>
        <div class="">
            <img src="img/A2UfuenyQiuf8w0oYDMm_17-2.jpg" width="100%" height="240" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>