<ion-view title="Home" id="home" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="appName-button-bar1" class=" button-bar "></div>
        <form id="appName-form2" class="list ">
            <label class="item item-input " id="appName-input1">
                <span class="input-label">Enter Your Address...</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="map" id="appName-button4" class=" button button-positive  button-block ">Search</a>
        <p id="appName-markdown2" style="color:#000000;font-size:25px;text-align:center;" class=" ">
            <strong>or</strong>
        </p>
        <a ui-sref="map" id="appName-button7" class=" button button-balanced  button-block ">Current Location</a>
    </ion-content>
</ion-view>