<ion-view title="Clinic 2" id="page8" style="background-color:#F8E1F0;" class=" ">
    <ion-content padding="true" class="has-header">
        <h1 id="clinic2-heading7" style="color:#214986;" class=" ">Lower East Side Harm Reduction Center</h1>
        <h4 id="clinic2-heading8" style="color:#000000;" class=" ">25 Allen St New York, NY 10002 United States</h4>
        <ion-list id="clinic2-list5" class=" ">
            <ion-item class="royal  " id="clinic2-list-item25">Hours: Mon-Sun 7:00 AM-PM</ion-item>
            <ion-item class="positive  " id="clinic2-list-item26" href="tel:646-286-7794">(212) 563 8806</ion-item>
            <ion-item class="energized  " id="clinic2-list-item27">★★★★✩</ion-item>
            <ion-item class="item-icon-left balanced  " id="clinic2-list-item28">
                <i class="icon ion-checkmark"></i>Appiontment Suggested</ion-item>
            <ion-item class="item-icon-left balanced  " id="clinic2-list-item29">
                <i class="icon ion-checkmark"></i>Free HIV Test</ion-item>
            <ion-item class="item-icon-left assertive  " id="clinic2-list-item30">
                <i class="icon ion-close"></i>Universal STD Check</ion-item>
        </ion-list>
        <div class="">
            <img src="img/A2UfuenyQiuf8w0oYDMm_17-2.jpg" width="100%" height="240" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>